h1{
    text-align: center;
    color: lightblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    color: floralwhite;

    
}

h2{
    color: whitesmoke;
    text-align: right;
    position: relative;
    /*border: 2px solid black;*/
    
}

.container{
    box-sizing: border-box;
    height: 200px;
    width: 33.33%;
    float: left;
    padding: 5px 5px 5px 5px;
    overflow: auto;
    
    background-color: darkslategray;
    border: 3px solid #5f9ea0;
    
    color: aqua;

    
    
}

#page{
    background-color: darkcyan;
}
*{
    box-sizing: border-box;
}

@media (min-width:992px){

}

@media (min-width:768px) and (max-width:991px){
    #page{
        /*background-color: lightgreen;*/
        
    }
    .container{
        width: 50%;

    }
    #adjust{
        width: 100%;
    }
}

@media (max-width:767px){
    #page{
        /*background-color: mediumblue;*/
        clear: left;
        
    }
    .container{
        width: 100%;
    }
    
}
